.footer {
  
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 90%;
  align-content: center;
 
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
 
}

.footer a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 10px;
}
<nav class="navbar">
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Movies.html">Movies</a></li>
            <li><a href="Tv Series.html">Tv Series</a></li>
            <li><a href="Games.html">Games</a></li>
        </ul>
    </nav>